<div class="container" style="text-align:center; margin:0 auto;">
  <div class="row">
    <div class ="column">
        <a routerLink="selection-cd">
          <img src="assets/CD.png" alt="Order CDs" class = "img-thumbnail" height="150" width="150" style="padding:30px" onclick="onClick()">
        </a>
        <a routerLink="selection-mp3">          
          <img src="assets/mp3download.png" alt="Music Downloads" class = "img-thumbnail" height="150" width="150" style="padding:30px">  
        </a>
    </div>
    <div class="column">
        <a routerLink="new">
          <img src="assets/NewRelease.jpg" alt="New Releases" class = "img-thumbnail" height="150" width="150" style="padding:30px">
        </a>
        <a routerLink="offers">
          <img src="assets/Offers.jpg" alt="Special Offers" class = "img-thumbnail" height="150" width="150" style="padding:30px">
        </a>
    </div>

  </div> 
</div>

